* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background: black;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20%;
    min-height: 100vh;
}

.terrible {
    color: #ff0000;
}

.bad {
    color: #fd401f;
}

.average {
    color: #ffee00;
}

.good {
    color: #b9f70f;
}

.excellent {
    color: #00ff00;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #011d52;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #021331;
}