* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: black;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}