#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #0059FF;
    background: linear-gradient(90deg, rgba(0, 89, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 1rem 50px;
    color: white;
}

#navbar a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}